<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
    <!-- 引入editormd的css文件 -->
    <link rel="stylesheet" type="text/css" th:href="@{/lib/editormd/css/editormd.css}">
    <!--    <link rel="stylesheet" th:href="@{/lib/editormd/css/editormd.preview.css}">-->
    <title th:text="${post.mdcontent!=null?'修改帖子':'新增帖子'}">帖子详情</title>
</head>
<body>

<!-- 头部 -->
<header class="bg-dark sticky-top" th:replace="index::header">
    <div class="container">
        <!-- 导航 -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <!-- logo -->
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- 功能 -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ml-3 btn-group-vertical">
                        <a class="nav-link" href="../index.html">首页</a>
                    </li>
                    <li class="nav-item ml-3 btn-group-vertical">
                        <a class="nav-link position-relative" href="letter.html">消息<span
                                class="badge badge-danger">12</span></a>
                    </li>
                    <li class="nav-item ml-3 btn-group-vertical">
                        <a class="nav-link" href="register.html">注册</a>
                    </li>
                    <li class="nav-item ml-3 btn-group-vertical">
                        <a class="nav-link" href="login.html">登录</a>
                    </li>
                    <li class="nav-item ml-3 btn-group-vertical dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="http://images.nowcoder.com/head/1t.png" class="rounded-circle"
                                 style="width:30px;"/>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-center" href="profile.html">个人主页</a>
                            <a class="dropdown-item text-center" href="setting.html">账号设置</a>
                            <a class="dropdown-item text-center" href="login.html">退出登录</a>
                            <div class="dropdown-divider"></div>
                            <span class="dropdown-item text-center text-secondary">nowcoder</span>
                        </div>
                    </li>
                </ul>
                <!-- 搜索 -->
                <form class="form-inline my-2 my-lg-0" action="search.html">
                    <input class="form-control mr-sm-2" type="search" aria-label="Search"/>
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
        </nav>
    </div>
</header>

<!-- 中间内容 -->

<div class="m-container m-padded-tb-big">
    <div class="ui container">


        <form id="discusspost-form" enctype="multipart/form-data"
              th:action="${post.mdcontent} == null ? @{/discuss/add} : @{|/discuss/updatepost/${post.id}|}"
              method="post"
              class="ui form">
            <input type="hidden" name="id">

            <div class="required field">
                <div class="ui left labeled input">
                    <input type="text" name="title" id="title" th:value="${post.title}" placeholder="标题，长度不能超过100个字符！">
                </div>
            </div>

            <div class="two fields">

                <div class="required field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">版块</label>
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="sectionId" id="sectionId">
                            <i class="dropdown icon"></i>
                            <div class="default text">版块</div>
                            <div class="menu">
                                <div th:each="section:${sections}" class="item" th:data-value="${section.id}"
                                     th:text="${section.name}">摸鱼方法
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    能否评论：
                    <input type="radio" name="commentable" value="0" th:checked="${post.commentable==0}" checked> 能
                    <input type="radio" name="commentable" value="1" th:checked="${post.commentable==1}"> 否
                </div>
            </div>

            <div class="required field">
                <div id="my-editormd" style="z-index: 1 !important;">
                    <!--                    <textarea name="content" id="content" placeholder="帖子内容..." maxlength="300"></textarea>-->
                    <!--                    <input id="content" name="content"/>-->
                    <textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc"
                              th:text="${post.getMdcontent()}" style="display:none;"></textarea>
                    <!-- 注意：name属性的值-->
                    <!--                    <textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;"></textarea>-->
                </div>
            </div>

            <h6 class="text-left text-info border-bottom pb-2">
                上传附件：若之前有附件，则会覆盖之前的附件。若有删除附件的按钮则表示存在附件。若上传的文件内容为空不会修改附件的内容。</h6>

            <div>
                <button class="btn btn-danger float-left" th:if="${post.attachUrl!=null}"
                        th:onclick="deleteAttach([[${post.id}]]);">删除附件
                </button>
                <div class="form-group row mt-4">
                    <label for="attachFile" class="col-sm-2 col-form-label text-right">上传附件:</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="attachFile"
                                   name="attachFile" lang="es" required="">
                            <label class="custom-file-label" for="attachFile"
                                   data-browse="文件">(可选)选择一个文件作为附件(大小小于10MB)。</label>
                            <div class="invalid-feedback" id="attach-feed-back">
                                密码长度不能小于8位!
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui error message"></div>

            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button type="button" id="publish-btn" class="ui teal button"
                        th:text="${post.mdcontent!=null?'修改':'发布'}">发布
                </button>
            </div>

        </form>
    </div>

    <!-- 提示框 -->
    <div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="hintModalLabel">提示</h5>
                </div>
                <div class="modal-body" id="hintBody">
                    发布完毕!
                </div>
            </div>
        </div>
    </div>


</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script th:src="@{/lib/editormd/editormd.min.js}"></script>
<script th:src="@{/js/global.js}"></script>
<script>

    $(function () {
        bsCustomFileInput.init();
    });

    //初始化Markdown编辑器
    var contentEditor;
    $(function () {
        contentEditor = editormd("my-editormd", {
            placeholder: '本编辑器支持Markdown编辑，左边编写，右边预览，希望你能发表友善的言论！',
            width: "100%",
            height: 640,
            syncScrolling: "single",
//        path    : "../static/lib/editormd/lib/"
            path: "../lib/editormd/lib/",

            //这个配置，方便post提交表单，将生成的HTML存放到某个TextArea中，方便在后端获取生成的HTML
            saveHTMLToTextarea: true,

            emoji: true,//emoji表情，默认关闭

            /**上传图片相关配置如下*/
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/community/discuss/upload",//注意你后端的上传图片服务地址

        });
    });

    $('#publish-btn').click(function () {

        $('#discusspost-form').submit();

    });

    function deleteAttach(postId) {

        // alert(postId);
        // alert(CONTEXT_PATH + "/discuss/deleteAttach/" + postId);

        $.get(
            CONTEXT_PATH + "/discuss/deleteAttach/" + postId,
            function (data) {
                data = $.parseJSON(data);
                // 在提示框中显示返回消息
                $("#hintBody").text(data.msg);
                // 显示提示框
                $("#hintModal").modal("show");
                // 4秒后,自动隐藏提示框
                setTimeout(function () {
                    $("#hintModal").modal("hide");
                    // 刷新页面
                    if (data.code == 0) {
                        window.location.reload();
                    }
                }, 4000);
            }
        );
    }

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });


    $('.ui.form').form({    //表单元素非空验证
        fields: {
            title: {
                identifier: 'title',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入帖子标题'
                }]
            },
            content: {
                identifier: 'my-editormd-markdown-doc',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入帖子内容'
                }]
            },
            sectionId: {
                identifier: 'sectionId',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请选择帖子的版块'
                }]
            }
        }
    });

</script>
</body>
</html>