<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--	<link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>-->

    <!-- 访问此页面，此处生成CSRF令牌 -->
    <!--	<meta name="_csrf" th:content="${_csrf.token}">-->
    <!--	<meta name="_csrf_header" th:content="${_csrf.headerName}">-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/swiper.min.css}"/>
    <title>首页</title>
</head>
<body>
<div class="nk-container">
    <!-- 头部 -->
    <header class="bg-dark sticky-top" th:fragment="header">
        <div class="container">
            <!-- 导航 -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <!-- logo -->
                <!--					<a class="navbar-brand" href="#"></a>-->
                <a th:href="@{/index}" class="font-teal"><h2>Community</h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- 功能 -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ml-3 btn-group-vertical">
                            <a class="nav-link" th:href="@{/index}">首页</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser!=null}">
                            <a class="nav-link position-relative"
                               sec:authorize="hasAnyAuthority('admin,moderator,user')"
                               th:if="${(loginUser!=null) && (loginUser.status!=3)}"
                               th:href="@{/letter/list}">消息
                                <span class="badge badge-danger"
                                      th:text="${allUnreadCount>0?allUnreadCount:''}">12</span></a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
                            <a class="nav-link" th:href="@{/register}">注册</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
                            <a class="nav-link" th:href="@{/login}">登录</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical"
                            sec:authorize="hasAnyAuthority('admin,moderator')">
                            <a class="nav-link" th:href="@{/admin/user/list}">用户管理</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical dropdown" th:if="${loginUser!=null}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img th:src="${loginUser.headerUrl}" class="rounded-circle" style="width:30px;"/>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-center"
                                   th:href="@{|/user/profile/${loginUser.id}|}">个人主页</a>
                                <a class="dropdown-item text-center" th:href="@{/user/setting}">账号设置</a>
                                <a class="dropdown-item text-center" th:href="@{/logout}">退出登录</a>
                                <div class="dropdown-divider"></div>
                                <span class="dropdown-item text-center text-secondary"
                                      th:utext="${loginUser.username}">nowcoder</span>
                            </div>
                        </li>
                    </ul>
                    <!-- 搜索 -->
                    <form class="form-inline my-2 my-lg-0" method="get" th:action="@{/search}">
                        <input class="form-control mr-sm-2" type="search" name="keyword" aria-label="Search"
                               th:value="${keyword}"/>
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>
                    </form>
                </div>
            </nav>
        </div>
    </header>

    <div class="m-container m-padded-tb-large animated fadeIn">
        <div class="ui container">
            <div class="ui stackable grid">
                <!--左边博客列表-->
                <div class="eleven wide column">
                    <!-- 内容 -->
                    <div class="main">
                        <!--							<div class="container">-->
                        <div class="position-relative">
                            <!-- 筛选条件 -->
                            <ul class="nav nav-tabs mb-3">
                                <li class="nav-item">
                                    <a th:class="|nav-link ${orderMode==0?'active':''}|"
                                       th:href="@{/index(orderMode=0,sectionId=${sectionId})}">最新</a>
                                </li>
                                <li class="nav-item">
                                    <a th:class="|nav-link ${orderMode==1?'active':''}|"
                                       th:href="@{/index(orderMode=1,sectionId=${sectionId})}">最热</a>
                                </li>
                            </ul>
                            <a class="btn btn-primary btn-sm position-absolute rt-0 ui button"
                               th:href="@{/discuss/add}"
                               sec:authorize="hasAnyAuthority('admin,moderator,user')"
                               th:if="${(loginUser!=null) && (loginUser.status!=3)}">我要发布
                                <!--data-target="#publishModal"-->
                            </a>
                        </div>
                        <!-- 弹出框 -->
                        <div class="modal fade" id="publishModal" tabindex="-1" role="dialog"
                             aria-labelledby="publishModalLabel" aria-hidden="true">
                        </div>
                        <!-- 提示框 -->
                        <div class="modal fade" id="hintModal" tabindex="-1" role="dialog"
                             aria-labelledby="hintModalLabel" aria-hidden="true">
                        </div>
                        <div class="ui success message" th:unless="${#strings.isEmpty(publishmsg)}">
                            <i class="close icon"></i>
                            <div class="header">提示：</div>
                            <p th:text="${publishmsg}">恭喜，操作成功！</p>
                        </div>

                        <!-- 帖子列表 -->
                        <ul class="list-unstyled">
                            <li class="media pb-3 pt-3 mb-3 border-bottom" th:each="map : ${discussPosts}">
                                <a th:href="@{|/user/profile/${map.user.id}|}">
                                    <img th:src="${map.user.headerUrl}" class="mr-4 rounded-circle" alt="用户头像"
                                         style="width:50px;height:50px;">
                                </a>
                                <div class="media-body">
                                    <h6 class="mt-0 mb-3">
                                        <a th:href="@{|/discuss/detail/${map.post.id}|}" th:utext="${map.post.title}">备战春招，面试刷题跟他复习，一个月全搞定！</a>
                                        <span class="badge badge-secondary bg-primary"
                                              th:if="${map.post.type==1}">置顶</span>
                                        <span class="badge badge-secondary bg-danger"
                                              th:if="${map.post.status==1}">精华</span>
                                        <a class="btn btn-info btn-sm float-right"
                                           th:href="@{/add/{id}(id=${map.post.id})}"
                                           sec:authorize="hasAnyAuthority('admin,moderator,user')"
                                           th:if="${(loginUser!=null) && (loginUser.status!=3) && (loginUser.id == map.post.userId)}">编辑
                                            <!--data-target="#publishModal"-->
                                        </a>
                                    </h6>
                                    <div class="text-muted font-size-12">
                                        <u class="mr-3" th:utext="${map.user.username}">寒江雪</u> 发布于 <b
                                            th:text="${#dates.format(map.post.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15
                                        15:32:18</b> &nbsp;&nbsp;&nbsp;&nbsp; 最后更新于 <b
                                            th:text="${#dates.format(map.post.updateTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15
                                        15:32:18</b>
                                        <ul class="d-inline float-right">
                                            <li class="d-inline ml-2">浏览量 <span th:text="${map.post.views}">11</span>
                                            </li>
                                            <li class="d-inline ml-2">|</li>
                                            <li class="d-inline ml-2">赞 <span th:text="${map.likeCount}">11</span></li>
                                            <li class="d-inline ml-2">|</li>
                                            <li class="d-inline ml-2">回帖 <span
                                                    th:text="${map.post.commentCount}">7</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- 分页 -->
                        <nav class="mt-5" th:if="${page.rows>0}" th:fragment="pagination">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{${page.path}(current=1)}">首页</a>
                                </li>
                                <li th:class="|page-item ${page.current==1?'disabled':''}|">
                                    <a class="page-link" th:href="@{${page.path}(current=${page.current-1})}">上一页</a>
                                </li>
                                <li th:class="|page-item ${i==page.current?'active':''}|"
                                    th:each="i:${#numbers.sequence(page.from,page.to)}">
                                    <a class="page-link" th:href="@{${page.path}(current=${i})}"><span
                                            th:text="${i}">1</span></a>
                                </li>
                                <li th:class="|page-item ${page.current==page.total?'disabled':''}|">
                                    <a class="page-link" th:href="@{${page.path}(current=${page.current+1})}">下一页</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" th:href="@{${page.path}(current=${page.total})}">末页</a>
                                </li>
                            </ul>
                        </nav>
                        <!--							</div>-->
                    </div>
                </div>

                <!--右边的top-->
                <div class="five wide column">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img th:src="@{/img/bg4.jpg}" width="100%" height="100%"
                                                           style="border-radius:10px;"></div>
                            <div class="swiper-slide"><img th:src="@{/img/bg1.jpeg}" width="100%" height="100%"
                                                           style="border-radius:10px;"></div>
                            <div class="swiper-slide"><img th:src="@{/img/bg2.jpg}" width="100%" height="100%"
                                                           style="border-radius:10px;"></div>
                        </div>
                        <!-- 如果需要分页器 -->
                        <div class="swiper-pagination"></div>

                        <!-- 如果需要导航按钮 -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>

                        <!-- 如果需要滚动条 -->
                        <!-- <div class="swiper-scrollbar"></div> -->
                    </div>
                    <div class="ui segments ">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="idea icon"></i>分类
                                </div>
                                <div class="right aligned column">
                                    <a class="btn btn-info btn-sm" th:href="@{/section/list}"
                                       sec:authorize="hasAnyAuthority('admin')">版块管理</a>
                                </div>
                            </div>
                        </div>

                        <div class="ui blue segment ">
                            <div class="ui fluid vertical menu">
                                <a th:href="@{/index(sectionId=0)}" th:class="|item ${sectionId==0?'active':''}|">
                                    <span>全部分类</span>
                                    <span class="float-right" th:text="${allPostCount}">1</span>
                                    <!--<div class="ui blue basic left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>-->
                                </a>
                                <a th:href="@{/index(sectionId=${section.section.id},orderMode=${orderMode})}"
                                   th:class="|item ${section.section.id==sectionId?'active':''}|"
                                   th:each="section : ${sections}">
                                    <span th:text="${section.section.name}">学习日志</span>
                                    <span class="float-right" th:text="${section.postCount}">1</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script th:src="@{/js/swiper.min.js}"></script>
<script th:src="@{/js/global.js}"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        // direction: 'vertical', // 垂直切换选项
        direction: 'horizontal', // 垂直切换选项
        loop: true, // 循环模式选项

        autoplay: true, // 自动播放

        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
        },

        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // 如果需要滚动条
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>
</body>
</html>
