<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间绑定一个对应的Dao/Mapper（全路径）-->
<mapper namespace="com.ouweihao.community.dao.DiscussPostMapper">

    <sql id="selectFields">
        id, user_id, title, mdcontent, htmlcontent, type, status, create_time, update_time, commentable, comment_count, section_id, views, score
    </sql>

    <sql id="insertFields">
        user_id, title, mdcontent, htmlcontent, type, status, create_time, update_time, commentable, comment_count, section_id, views, score
    </sql>

    <select id="selectDiscussPosts" resultType="DiscussPost">
        select
        <include refid="selectFields"/>
        from discuss_post
        where status != 2
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
        <if test="orderMode==0">
            order by type desc, create_time desc
        </if>
        <if test="orderMode==1">
            order by type desc, score desc, create_time desc
        </if>
        limit #{offset}, #{limit}
    </select>

    <select id="selectDiscussPostBySectionId" resultType="DiscussPost">
        select
        <include refid="selectFields"/>
        from discuss_post
        where status != 2
        <if test="sectiondId != 0">
            and section_id = #{sectionId}
        </if>
        <if test="orderMode==0">
            order by type desc, create_time desc
        </if>
        <if test="orderMode==1">
            order by type desc, score desc, create_time desc
        </if>
        limit #{offset}, #{limit}
    </select>

    <select id="selectDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status != 2
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
    </select>

    <insert id="insertDiscussPost" parameterType="DiscussPost" keyProperty="id">
        insert into discuss_post(<include refid="insertFields"/>)
        values(#{userId}, #{title}, #{mdcontent}, #{htmlcontent}, #{type}, #{status}, #{createTime},
        #{updateTime},#{commentable}, #{commentCount}, #{sectionId}, #{views}, #{score})
    </insert>

    <select id="selectDiscussPostById" resultType="DiscussPost">
        select
        <include refid="selectFields"/>
        from discuss_post
        where id=#{id}
    </select>

    <update id="updateCommentCount">
        update discuss_post
        set comment_count = #{commentCount}
        where id = #{id}
    </update>

    <update id="updateType">
        update discuss_post
        set type = #{type}
        where id = #{postId}
    </update>

    <update id="updateStatus">
        update discuss_post
        set status = #{status}
        where id = #{postId}
    </update>

    <update id="updateScore">
        update discuss_post
        set score = #{score}
        where id = #{postId}
    </update>

    <update id="updateViews">
        update discuss_post
        set views = #{views}
        where id = #{postId}
    </update>

</mapper>